.todo-counter {
    text-align: center;
    margin-top: 1rem;
    color: var(--check-purple);
    font-family: 'VT323', monospace;
}

.todo-counter-number {
    font-size: 2rem;
    font-weight: bold;
    color: var(--secondary-color);
}